@model Core.ViewModel.RegistrationNewViewModel;

@{
    ViewData["Title"] = "New Patient";
}

<style>
    #projects-collection .collection-header {
        font-size: 1.24rem;
        font-weight: 500;
    }
    #projects-collections .collection-item.avatar {
        height: auto;
        padding-top: 22px;
    }
    .collection .collection-item.avatar {
        min-height: 50px;
    }
    .btn.waves-effect {
        margin-left: 43px;
        margin-bottom: 20px;
    }
</style>

<script type="text/javascript" src="~/js/registration-new-script.js"></script>

<div class="row">
    @using (Html.BeginForm("PostRegistration", "Registration", FormMethod.Post))
    {
        <ul id="projects-collection" class="collection z-depth-1">
            <li class="collection-item avatar">
                <i class="material-icons red accent-2 circle">assignment_ind</i>
                <h6 class="collection-header m-0 cyan-text">Patient Information</h6>
                <span class="right">Fee: @Model.Currency @string.Format("{0:N}", Model.Billables.Amount)</span>
                <p>Patient's Demographic Details</p>
            </li>
            <li class="collection-item">
                <div class="input-field col s6">
                    <i class="material-icons prefix">account_circle</i>
                    @Html.TextBoxFor(model => model.Patient.Person.Name)
                    <label for="icon_prefix">Full Names</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">event</i>
                    @Html.TextBoxFor(model => model.DoB)
                    <label for="icon_prefix">Date of Birth</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">language</i>
                    @Html.DropDownListFor(model => model.Patient.Person.Citizen, Model.Nation, "Select Nationality")
                    <label>Citizenship</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">location_on</i>
                    @Html.TextBoxFor(model => model.Patient.Person.Physical)
                    <label for="icon_prefix">Physical Address</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">phone</i>
                    @Html.TextBoxFor(model => model.Patient.Person.Mobile)
                    <label for="icon_prefix">Mobile Number</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">mail</i>
                    @Html.TextBoxFor(model => model.Patient.Person.Email)
                    <label for="icon_prefix">Email</label>
                </div>

                <div class="input-field col s6">
                    <i class="material-icons prefix">textsms</i>
                    @Html.TextBoxFor(model => model.Patient.Person.NickName)
                    <label for="icon_prefix">Nickname</label>
                </div>

                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">language</i>
                    @Html.DropDownListFor(model => model.Patient.Person.Residence, Model.Nation, "Country of Residence")
                    <label>Country of Residence</label>
                </div>
                <br style="clear:both" />
            </li>
            <li class="collection-item avatar">
                <i class="material-icons red accent-2 circle">assignment_ind</i>
                <h6 class="collection-header m-0 cyan-text">Next of Kin</h6>
                <p>Patient's Next of Kin Details</p>
            </li>
            <li class="collection-item">
                <div class="input-field col s6">
                    <i class="material-icons prefix">textsms</i>
                    @Html.TextBoxFor(model => model.NextOfKin.Name)
                    <label for="icon_prefix">Next of Kin</label>
                </div>

                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">language</i>
                    @Html.DropDownListFor(model => model.NextOfKin.Relation, Model.Relation, "Relationship")
                    <label>Relationship</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">location_on</i>
                    @Html.TextBoxFor(model => model.NextOfKin.Physical)
                    <label for="icon_prefix">Physical Address</label>
                </div>

                <div class="input-field col s6">
                    <i class="material-icons prefix">phone</i>
                    @Html.TextBoxFor(model => model.NextOfKin.Mobile)
                    <label for="icon_prefix">Mobile Number</label>
                </div>

                <div class="input-field col s12">
                    <i class="material-icons prefix">mail</i>
                    @Html.TextBoxFor(model => model.NextOfKin.Mobile)
                    <label for="icon_prefix">Email</label>
                </div>
                <div style="clear:both"></div>
            </li>
            <li class="collection-item">
                <div class="input-field col-md-6">
                    <i class="material-icons prefix">swap_horiz</i>
                    @Html.DropDownListFor(model => model.Room, Model.Destination)
                    <label>Send To</label>
                    <a id="submit-form" class="btn waves-effect waves-light gradient-45deg-purple-deep-orange">Register</a>
                </div>
                <div style="clear:both"></div>
            </li>
        </ul>

        @Html.HiddenFor(model => model.Billables.Id)
        @Html.HiddenFor(model => model.Billables.Amount)
}
</div>